
        <table id="items" class="table table-hover table-responsive" style="font-size: 14px;max-width: 100%;">
          <thead class="hidden-sm hidden-xs">
            <tr>
              <th style="width: 60px;"></th>
              <th class="hidden-sm hidden-xs" style="max-width: 500px;">
                <%if (!query.sort||query.sort=='name'){%>
                  <%if(query.order=='desc'){%>
                <a href="/files?<%=base_comp%>&sort=name">Name</a>
                <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                  <%}else{%>
                <a href="/files?<%=base_comp%>&sort=name&order=desc">Name</a>
                <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                  <%}%>
                <%}else{%>
                <a href="/files?<%=base_comp%>&sort=name&order=desc">Name</a>
                <%}%>
              </th>
              <th class="hidden-sm hidden-xs"></th>
              <th class="hidden-sm hidden-xs">
                <%if (query.sort=='size'){%>
                  <%if(query.order=='asc'){%>
                <a href="/files?<%=base_comp%>&sort=size">Size</a>
                <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                  <%}else{%>
                <a href="/files?<%=base_comp%>&sort=size&order=asc">Size</a>
                <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                  <%}%>
                <%}else{%>
                <a href="/files?<%=base_comp%>&sort=size">Size</a>
                <%}%>
              </th>
              <th class="hidden-sm hidden-xs">
                <%if (query.sort=='type'){%>
                  <%if(query.order=='desc'){%>
                <a href="/files?<%=base_comp%>&sort=type">Type</a>
                <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                  <%}else{%>
                <a href="/files?<%=base_comp%>&sort=type&order=desc">Type</a>
                <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                  <%}%>
                <%}else{%>
                <a href="/files?<%=base_comp%>&sort=type&order=desc">Type</a>
                <%}%>
              </th>
              <th class="hidden-sm hidden-xs">
                <%if (query.sort=='mtime'){%>
                  <%if(query.order=='asc'){%>
                <a href="/files?<%=base_comp%>&sort=mtime">Date Modified</a>
                <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                  <%}else{%>
                <a href="/files?<%=base_comp%>&sort=mtime&order=asc">Date Modified</a>
                <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                  <%}%>
                <%}else{%>
                <a href="/files?<%=base_comp%>&sort=mtime">Date Modified</a>
                <%}%>
              </th>
            </tr>
          </thead>

          <tbody>
          <%dirs.forEach(function(dir){%>
            <tr class="item-folder" data-path="<%=encodeURIComponent(dir.path)%>">
              <td style="width: 60px;"><a style="color: black;" href="/files?dir=<%=encodeURIComponent(dir.path)%>" title="<%=dir.name%>"><img src="/img/folder-icon.png" width="60px" /></a></td>
              <td style="max-width: 500px;">
                <%=dir.name%> 
                <p class="item-file-extra">
                  <%if (dir.subdirs_count>1){%><span><%=dir.subdirs_count%> folders</span><%}else if (dir.subdirs_count==1){%>
                  <span>1 folder</span><%}%><%if (dir.subdirs_count>0&&dir.files_count>0){%><span>,</span> <%}%>
                  <%if (dir.files_count>1){%>
                  <span><%=dir.files_count%> files</span>
                  <%}else if (dir.files_count==1){%>
                  <span>1 file</span>
                  <%}%>
                </p>
                <p class="item-file-extra hidden-lg hidden-md"><%if (dir.mtime){%><span style="margin-right: 15px;"><%=moment(dir.mtime).format('MMM DD, YYYY hh:mm A')%></span><%}%><%if (dir.size>0){%><span><%=bytes(dir.size)%></span><%}%></p>
              </td>
              <td> 
                <%if (dir.missing){%>
                <a href="#" class="text-danger" data-toggle="tooltip" title="Missing"><i class="fa fa-exclamation-circle fa-fw"></i></a>
                <%}else{%>
                <div class="dropdown item-menu-dropdown" style="float: right;">
                  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-fw"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(dir.path)%>" title="Open in external program"><span class="text-primary"><i class="fa fa-external-link fa-fw"></i> Open location</span></a></li>
                    <li><a class="delete-folder" href="#" data-path="<%=encodeURIComponent(dir.path)%>" title="Delete this folder"><span class="text-danger"><i class="fa fa-trash fa-fw"></i> Delete folder</span></a></li>
                  </ul>
                </div>
                <!-- <a class="open-external-link" href="/files?images=1&from_dir=<%=encodeURIComponent(dir.path)%>" title="Show images from this folder"><i class="fa fa-picture-o fa-fw"></i></a>  --><!-- <a class="delete-folder" href="#" data-path="<%=encodeURIComponent(dir.path)%>" title="Delete this folder"><i class="fa fa-trash fa-fw"></i></a> <a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(dir.path)%>" title="Open in external program"><i class="fa fa-external-link fa-fw"></i></a> -->
                <%}%> 
              </td>
              <td class="hidden-sm hidden-xs" style="color: grey;">
                <%if (dir.size>0){%><span><%=bytes(dir.size)%></span><%}%>
              </td>
              <td class="hidden-sm hidden-xs" style="color: grey;">Folder</td>
              <td class="hidden-sm hidden-xs" style="color: grey;"><%if (dir.mtime){%><%=moment(dir.mtime).format('MMM DD, YYYY hh:mm A')%><%}%></td>
            </tr>
          <%})%>

          <%files.forEach(function(file, idx){%>
            <tr class="item-file item-file-<%=file.type%>" 
              data-file-name="<%=file.name%>" 
              data-file-path="<%=encodeURIComponent(file.relpath)%>"
              data-file-size="<%=bytes(file.size)%>"
              data-file-type="<%=file.type%>"
              title="<%=file.name%>">
              <td style="width: 60px;">
                <a style="color: grey;" class="open-external-link" href="/files/<%=encodeURIComponent(file.name)%>?path=<%=encodeURIComponent(file.relpath)%>" target="_blank" title="Open file in new tab">
                <%if (config.thumbnails && (file.is_image||(file.is_comic&&!file.is_archive))) {%>
                  <img class="img-responsive lazyload" src="/img/file-icon.png" data-src="/thumb?path=<%=encodeURIComponent(file.relpath)%>" alt="" width="60px" style="max-height: 200px;" onerror="this.onerror=null;this.src='/img/file-icon.png';">
                <%}else if (file.type == 'zip') {%>
                  <img src="/img/zip-file-icon.png" width="60px" />
                  <%}else if (file.type == 'rar') {%>
                  <img src="/img/rar-file-icon.png" width="60px" />
                <%}else{%>
                  <img src="/img/file-icon.png" width="60px" />
                <%}%>
                </a>
              </td>
              <td style="max-width: 500px;overflow: hidden;text-overflow: ellipsis;">
                <a id="<%=file.name%>"></a>
                <span><%=utils.ellipsisMiddle(file.name,60)%></span>   
                <%if (query.files||query.images||query.videos||query.file_type){%>
                <p class="item-file-extra"><a class="open-external-link" href="/files?dir=<%=encodeURIComponent(path.dirname(file.relpath))%>"><%=utils.ellipsisMiddle(path.basename(path.dirname(file.relpath)),60)%></a></p>
                <%}%> 
                <p class="item-file-extra hidden-lg hidden-md"><%if (file.mtime){%><span style="margin-right: 15px;"><%=moment(file.mtime).format('MMM DD, YYYY hh:mm A')%></span><%}%><span><%=bytes(file.size)%></span></p>
              </td>
              <td>
                <%if (file.missing){%><a href="#" class="text-danger" data-toggle="tooltip" title="Missing"><i class="fa fa-exclamation-circle fa-fw"></i></a><%}else{%>
                <div class="dropdown item-menu-dropdown" style="float: right;">
                  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-fw"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <%if (query.files||query.images||query.videos||query.file_type){%><li><a href="/files?dir=<%=encodeURIComponent(path.dirname(file.relpath))%>#<%=file.name%>" title="Show in folder"><i class="fa fa-folder fa-fw"></i> Show in folder</a></li>
                    <li class="divider"></li>
                    <%}%> 
                    <li><a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(file.relpath)%>" title="Open in external program"><span class="text-primary"><i class="fa fa-external-link fa-fw"></i> Open external</span></a></li>
                    <li><a class="delete-file" href="#" data-path="<%=encodeURIComponent(file.relpath)%>" title="Delete this file"><span class="text-danger"><i class="fa fa-trash fa-fw"></i> Delete file</span></a></li>
                  </ul>
                </div>
                <!-- <a class="delete-file" href="#" data-path="<%=encodeURIComponent(file.relpath)%>" title="Delete this file"><i class="fa fa-trash fa-fw"></i></a> <a class="open-in-external-program" href="#" data-path="<%=encodeURIComponent(file.relpath)%>" title="Open in external program"><i class="fa fa-external-link fa-fw"></i></a> -->
                <%}%>
              </td>
              <td class="hidden-sm hidden-xs" style="color: grey;"><%=bytes(file.size)%></td>
              <td class="hidden-sm hidden-xs" style="color: grey;"><span style="text-transform: uppercase;"><%=file.type%></span> File</td>
              <td class="hidden-sm hidden-xs" style="color: grey;"><%if (file.mtime){%><%=moment(file.mtime).format('MMM DD, YYYY hh:mm A')%><%}%></td>
            </tr>
          <%})%>
          </tbody>
        </table>