
    <%
    var base_comp = '';
    if (query.starts_with) {
      base_comp = 'starts_with=' + query.starts_with;
    } else if (query.search) {
      base_comp = 'search=' + query.search;
    }
    manga_filters.forEach(function(manga_filter) {
      if (query[manga_filter.param]) {
        base_comp = manga_filter.param + '=' + encodeURIComponent(query[manga_filter.param]);
      }
    });
    if (query.from_dir) {
      base_comp += '&from_dir=' + encodeURIComponent(query.from_dir);
    }
    var base_comp_without_listview = base_comp;
    if (query.listview) {
      base_comp += '&listview=' + query.listview;
    }
    %>

    <div class="row">

      <div class="col-md-12">
        <div id="view-search" class="<%=(query.q||query.view=='search'||query.search)?'':'hidden'%>">
          <div id="search-panel" class="well">
            <div class="">
              <div style="margin: 15px auto;">
                <form id="search-manga-form" role="form" action="/" method="GET">
                  <div class="input-group">
                  <%if (query.from_dir) {%>
                    <input type="hidden" name="from_dir" class="form-control" value="<%=query.from_dir%>">
                    <input id="search-query" type="text" name="search" class="form-control" value="<%=query.search||''%>" placeholder="Search manga in this directory">
                  <%}else{%>
                    <input id="search-query" type="text" name="search" class="form-control" value="<%=query.search||''%>" placeholder="Search manga">
                  <%}%>
                    <span class="input-group-btn">
                      <button id="search-manga-form-submit" class="btn btn-default" type="submit">Search</button>
                    </span>
                  </div>
                </form>
                <div>
                  <%if(manga_search_recent.length){%>Recent search(es):<%}%>
                  <%manga_search_recent.forEach(function(term) {%>
                  <a href="/mangalist?search=<%=term%>">(<%=term%>)</a> 
                  <%});%>
                </div>
              </div>
            </div>
          </div><!-- search-panel -->
        </div><!-- view-search -->
      </div>

      <div id="filter-panels" class="col-md-12">
        <div class="hidden-lg hidden-md hidden-sm">
          <div class="panel panel-default">
            <div class="panel-heading" style="padding-bottom: 5px;padding-top: 5px;">A-Z</div>
            <div class="panel-body">
              <div id="start-with">
                <%if (manga_starts_with_list.length) {%>
                  <%manga_starts_with_list.forEach(function(first_letter){%>
                    <a class="btn <%if (query['starts_with']==first_letter.name){%>btn-primary<%}else{%>btn-default<%}%> btn-sm" href="/mangalist?starts_with=<%=first_letter.name%>"><%=first_letter.name%></a> 
                  <%});%>
                <%}%>
              </div>
            </div><!-- panel-body -->
          </div><!-- panel -->
        </div>

        <%if (manga_starts_with_list.length) {%>
        <div id="view-alphabet" class="hidden-xs <%=(query.starts_with||query.view=='alphabet')?'':'hidden'%>">
          <div class="panel panel-default">
            <div class="panel-heading">A-Z</div>
            <div class="panel-body" style="font-size: 16px;">
          <%manga_starts_with_list.forEach(function(first_letter){%>
            <a class="btn <%if (query['starts_with']==first_letter.name){%>btn-primary<%}else{%>btn-default<%}%> btn-sm filter-tag" href="/mangalist?starts_with=<%=first_letter.name%>"><%=first_letter.name%></a> 
          <%});%>
            </div>
          </div>
        </div><!-- view-alphabet -->
        <%}%>

        <%manga_filters.forEach(function(manga_filter) {%>
          <%if (query.view==manga_filter.index && manga_indices[manga_filter.index] && manga_indices[manga_filter.index].popular.length) {%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/mangalist" title="All Manga"><i class="fa fa-book fa-fw"></i></a></li>
              <li class="breadcrumb-item"><%=manga_filter.title%> <span class="badge"><%=manga_indices[manga_filter.index].count%></span></li>
            </ol>
          </div>
          <div class="panel-body">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-<%=manga_filter.index%>-popular">Popular</a></li>
              <li><a data-toggle="tab" href="#tab-<%=manga_filter.index%>-az">A-Z</a></li>
            </ul>
            <div class="tab-content" style="margin-top: 20px;">
              <div id="tab-<%=manga_filter.index%>-popular" class="tab-pane fade in active">
                <%manga_indices[manga_filter.index].popular.forEach(function(item,idx){%>
                <a class="btn btn-default btn-sm filter-tag" href="/mangalist?<%=manga_filter.param%>=<%=item.name%>" style=""><b><%=utils.ellipsisMiddle((manga_filter.hyphen)?utils.replaceAll(item.name,'-',' '):item.name,40,30,10)%></b> <small><%=item.count%></small></a>
                <%});%>
              </div>
              <div id="tab-<%=manga_filter.index%>-az" class="tab-pane fade">
                <%
                var index_items = [];
                for (var index_name in manga_indices[manga_filter.index].map) { 
                  index_items.push({name: index_name, count: manga_indices[manga_filter.index].map[index_name]});
                }
                index_items.sort(function(a,b){
                  if (a.name > b.name) return 1;
                  if (a.name < b.name) return -1;
                  return 0;
                });
                %>
                <%var current_first_char='';%>
                <%index_items.forEach(function(item,idx){%>
                <%  if (current_first_char != item.name[0]) {%>
                <h4 style="text-transform: capitalize;"><%=item.name[0]%></h4>
                <%  current_first_char = item.name[0];%>
                <%  }%>
                <a class="btn btn-default btn-sm filter-tag" href="/mangalist?<%=manga_filter.param%>=<%=item.name%>" style=""><b><%=utils.ellipsisMiddle((manga_filter.hyphen)?utils.replaceAll(item.name,'-',' '):item.name,40,30,10)%></b> <small><%=item.count%></small></a>
                <%});%>
              </div>
            </div>
          </div>
        </div>
          <%}%>
        <%});%>

      </div><!-- filter-panels -->

      <div class="col-md-12">
        <div id="list-items-panel" class="panel panel-default <%=(!query.view)?'':'hidden'%>">

          <div class="panel-heading">

            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mangalist" title="All Manga"><i class="fa fa-book fa-fw"></i></a></li>
                <%if (query.artist) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=artists" title="Artists">Artists</a></li>
                <li class="breadcrumb-item">Artist: <span class="text-capitalize"><%=utils.replaceAll(query.artist,'-',' ')%></span></li>
                <%} else if (query.author) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=authors" title="Authors">Authors</a></li>
                <li class="breadcrumb-item">Author: <span class="text-capitalize"><%=utils.replaceAll(query.author,'-',' ')%></span></li>
                <%} else if (query.category) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=categories" title="Categories">Categories</a></li>
                <li class="breadcrumb-item">Category: <span class="text-capitalize"><%=utils.replaceAll(query.category,'-',' ')%></span></li>
                <%} else if (query.genre) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=genres" title="Genres">Genres</a></li>
                <li class="breadcrumb-item">
                  <!-- <span class="text-capitalize"><%=utils.replaceAll(query.genre,'-',' ')%></span> -->
                  <%if (query.genre.split(' ').length) {%>
                    <%query.genre.split(' ').forEach(function(genre,idx,array){%>
                  <a href="/mangalist?genre=<%=genre%>" class="text-capitalize" title="Search genre: <%=utils.replaceAll(genre,'-',' ')%>"><%=utils.replaceAll(genre,'-',' ')%></a><%if(idx < array.length-1){%><b> + </b><%}%>
                    <%});%>
                  <%} else {%>
                  <span class="text-capitalize"><%=utils.replaceAll(query.genre,'-',' ')%></span>
                  <%}%>
                </li>
                <%} else if (query.tag) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=tags" title="Tags">Tags</a></li>
                <li class="breadcrumb-item">Tag: <span class="text-capitalize"><%=utils.replaceAll(query.tag,'-',' ')%></span></li>
                <%} else if (query.parody) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=parodies" title="Parodies">Parodies</a></li>
                <li class="breadcrumb-item">Parody: <span class="text-capitalize"><%=utils.replaceAll(query.parody,'-',' ')%></span></li>
                <%} else if (query.character) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=characters" title="Characters">Characters</a></li>
                <li class="breadcrumb-item">Character: <span class="text-capitalize"><%=utils.replaceAll(query.character,'-',' ')%></span></li>
                <%} else if (query.status) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=status" title="Status">Status</a></li>
                <li class="breadcrumb-item"><span class="text-capitalize"><%=utils.replaceAll(query.status,'-',' ')%></span></li>
                <%} else if (query.language) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=languages" title="Languages">Languages</a></li>
                <li class="breadcrumb-item">Language: <span class="text-capitalize"><%=utils.replaceAll(query.language,'-',' ')%></span></li>
                <%} else if (query.starts_with) {%>
                <li class="breadcrumb-item"><a href="/mangalist?view=alphabet" title="A-Z">A-Z</a></li>
                <li class="breadcrumb-item">Starts with: <span class="text-capitalize"><%=query.starts_with%></span></li>
                <%} else if (query.search) {%>
                <li class="breadcrumb-item">Search: <%=query.search%></li>
                <%} else if (query.view) {%>
                <li class="breadcrumb-item"><span class="text-capitalize"><%=query.view%></span></li>
                <%} else if (!query.from_dir) {%>
                <li class="breadcrumb-item">Manga List</li>
                <%}%>
                <%if (query.from_dir) {%>
                  <%parents.forEach(function(parent){%>
                <li class="breadcrumb-item"><a href="/mangalist?from_dir=<%=encodeURIComponent(parent.path)%>"><%=parent.name%></a></li>
                  <%});%>
                <li class="breadcrumb-item"><%=path.basename(query.from_dir)%></li>
                <%}%>
              </ol>
            </nav>

            <h4 style="display: none;">
            <%var filtered = false;%>
            <%manga_filters.forEach(function(manga_filter) {%>
              <%if (query[manga_filter.param]) {%>
                <%filtered = true;%>
              <span class="text-capitalize"><%=manga_filter.param%>: <%=(manga_filter.hyphen)?utils.replaceAll(query[manga_filter.param],'-',' '):query[manga_filter.param]%></span>
              <%}%>
            <%});%>
            <%if (query.starts_with) {%>
              <span class="text-capitalize">Starts with: <%=utils.replaceAll(query.starts_with,'-',' ')%></span>
            <%} else if (query.search) {%>
              <span>Search: <%=query.search%></span>
            <%} else if (!query.from_dir && !filtered) {%>
              <span>Manga List</span>
            <%}%>
            <%if (query.from_dir) {%>
              <span> From: <a href="/mangalist?dir=<%=encodeURIComponent(query.from_dir)%>"><%=path.basename(query.from_dir)%></a></span>
            <%}%>
            </h4>

          </div>
          <div class="panel-body">
            <h5>
              <%if (items_count>1){%><span><%=items_count%> manga</span><%}else if (items_count==1){%><span><%=items_count%> manga</span><%}%>
            </h5>
              
            <div style="min-height: 40px;">
              <div class="<%=(manga_items.length)?'':'hidden'%>" style="float: right;height: 40px;">
                <div class="dropdown" style="display: inline-block;">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="padding-top: 3px;padding-bottom: 3px;">
                    <%if (!query.mangasort||query.mangasort=='name'){%>Name <span class="caret"></span>
                    <%} else if (query.mangasort=='chapters_count'){%>Chapters Count <span class="caret"></span>
                    <%} else if (query.mangasort=='url'){%>URL <span class="caret"></span>
                    <%} else if (query.mangasort=='last_update'){%>Last Update <span class="caret"></span>
                    <%} else if (query.mangasort=='last_chapter_update'){%>Last Chapter Update <span class="caret"></span>
                    <%} else if (query.mangasort=='rank'){%>Rank <span class="caret"></span>
                    <%} else {%><span class="text-capitalize"><%=query.mangasort%></span> <span class="caret"></span><%}%>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <%if (!query.mangasort||query.mangasort=='name'){%>
                      <%if(query.mangaorder=='desc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=asc">Name</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=desc">Name</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=desc">Name</a></li>
                    <%}%>

                    <%if (query.mangasort=='chapters_count'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=chapters_count&mangaorder=desc">Chapters Count</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=chapters_count&mangaorder=asc">Chapters Count</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=chapters_count">Chapters Count</a></li>
                    <%}%>

                    <%if (query.mangasort=='rank'){%>
                      <%if(query.mangaorder=='desc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=rank&mangaorder=asc">Rank</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=rank&mangaorder=desc">Rank</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=rank&mangaorder=desc">Rank</a></li>
                    <%}%>

                    <%if (query.mangasort=='last_update'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=last_update&mangaorder=desc">Last Update</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=last_update&mangaorder=asc">Last Update</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=last_update">Last Update</a></li>
                    <%}%>

                    <%if (query.mangasort=='last_chapter_update'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update&mangaorder=desc">Last Chapter Update</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update&mangaorder=asc">Last Chapter Update</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update">Last Chapter Update</a></li>
                    <%}%>

                    <%if (query.mangasort=='url'){%>
                      <%if(query.mangaorder=='desc'){%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=url&mangaorder=asc">URL</a></li>
                      <%}else{%>
                    <li class="active"><a href="/mangalist?<%=base_comp%>&mangasort=url&mangaorder=desc">URL</a></li>
                      <%}%>
                    <%}else{%>
                    <li><a href="/mangalist?<%=base_comp%>&mangasort=url&mangaorder=desc">URL</a></li>
                    <%}%>
                  </ul>
                </div>

                <div class="btn-group" style="display: inline-block;">
                  <a href="/mangalist?<%=base_comp_without_listview%>&listview=cover" title="Cover list"  class="btn <%=(query.listview!='small'&&query.listview!='details')?'btn-default active':'btn-default'%>"><i class="fa fa-th fa-fw"></i></a>
                  <a href="/mangalist?<%=base_comp_without_listview%>&listview=details" title="Detail list" class="btn <%=(query.listview=='details')?'btn-default active':'btn-default'%> hidden-xs"><i class="fa fa-th-list fa-fw"></i></a>
                  <a href="/mangalist?<%=base_comp_without_listview%>&listview=small" title="Small list"  class="btn <%=(query.listview=='small')?'btn-default active':'btn-default'%>"><i class="fa fa-list fa-fw"></i></a>
                </div>
              </div>

              <%var query_skip = (query.skip ? parseInt(query.skip) : 0);%>
              <%var next_skip = query_skip+100;%>

              <%if (items_count>next_skip){%>
              <p><%=(query_skip+1)%>-<%=(next_skip)%>, <a href="/mangalist?<%=base_comp%>&skip=<%=next_skip%>">and more <%=(items_count-next_skip)%> manga...</a></p>
              <%}else if (items_count > 0){%>
              <p><%=(query_skip+1)%>-<%=items_count%></p>
              <%}%>

              <%if (page_count > 1) {%>
              <ul class="pagination" style="margin: 0 0 10px 0;">
                <%if (current_page > 1) {%>
                  <li><a href="/mangalist?<%=base_comp%>&page=<%=current_page-1%>">&laquo;</a></li>
                <%} else {%>
                  <li class="disabled"><a href="#">&laquo;</a></li>
                <%}%>
                <%var i = 1;
                if (current_page > 3) {
                  i = current_page - 2;
                }%>
                <%if (i !== 1) {%>
                  <li><a href="/mangalist?<%=base_comp%>&page=1">1</a></li>
                <%}%>
                <%if (i > 2) {%>
                  <li class="disabled"><a href="#">...</a></li>
                <%}%>
                <%for (i; i < page_count; i++) {%>
                  <%if (current_page == i) {%>
                    <li class="active"><span><%=i%> <span class="sr-only">(current)</span></span></li>
                  <%} else {%>
                    <li><a href="/mangalist?<%=base_comp%>&page=<%=i%>"><%=i%></a></li>
                  <%}%>
                  <%if (i == page_count - 1) break;%>
                  <%if (i == (current_page + 2)) {%>
                    <li class="disabled"><a href="#">...</a></li>
                    <%break;%>
                  <%}%>
                <%}%>
                <%if (current_page != page_count) {%>
                  <li><a href="/mangalist?<%=base_comp%>&page=<%=page_count%>"><%=page_count%></a></li>
                  <li><a href="/mangalist?<%=base_comp%>&page=<%=current_page+1%>">&raquo;</a></li>
                <%} else {%>
                  <li class="active"><a href="/mangalist?<%=base_comp%>&page=<%=page_count%>"><%=page_count%></a></li>
                  <li class="disabled"><a href="#">&raquo;</a></li>
                <%}%>
              </ul>
              <%}%>

            </div>

            <div style="">
            <%if (query.listview == 'details') {%>
            <table id="manga-items" class="table table-hover table-responsive items" style="font-size: 14px;max-width: 100%;">
              <tbody>
            <%manga_items.forEach(function(manga_item,idx){%>
              <tr class="item-manga" data-path="<%=encodeURIComponent(manga_item.relpath)%>">
                <td class="item-manga-cover" style="text-align: center;">
                  <a href="/manga?path=<%=encodeURIComponent(manga_item.relpath)%>" title="<%=manga_item.name%>">
                    <%if (manga_item['cover_image']){%>
                    <img class="img-responsive lazyload" src="/img/cover-placeholder.png" data-src="/image?src=<%=encodeURIComponent(manga_item['cover_image'])%>" alt="" style="margin: 0 auto;" onerror="this.onerror=null;this.src='/img/no-cover.png';" />
                    <%}else{%>
                    <img src="/img/no-cover.png" style="margin: 0 auto;" />
                    <%}%>
                  </a>
                </td>
                <td>
                  <p class="manga-name"><b><%=manga_item.name%></b></p>
                  <p class="item-file-extra">
                    <a class="open-external-link" href="/mangalist?from_dir=<%=encodeURIComponent(path.dirname(manga_item.relpath))%>"><%=path.basename(path.dirname(manga_item.relpath))%></a>
                  </p>
                  <p class="item-file-extra">
                    <%if (manga_item.chapters_count>1){%>
                    <span><%=manga_item.chapters_count%> chapters</span>
                    <%}else if (manga_item.chapters_count==1){%>
                    <span>1 chapter</span>
                    <%}%>
                    <%if (manga_item.chapters_missing > 0) {%>
                    <span> (<%=manga_item.chapters_missing%> missing)</span>
                    <%}%>
                  </p>
                  <%if (manga_item.last_chapter_update && query.mangasort != 'last_update'){%>
                  <p class="item-file-extra">
                    <span style="margin-right: 15px;">
                      <%=moment(manga_item.last_chapter_update).format('MMM DD, YYYY hh:mm A')%> (<%=moment(manga_item.last_chapter_update).fromNow()%>)
                    </span> 
                  </p>
                  <%} else if (manga_item.last_update && query.mangasort == 'last_update'){%>
                  <p class="item-file-extra">
                    <span style="margin-right: 15px;">
                      <%=moment(manga_item.last_update).format('MMM DD, YYYY hh:mm A')%> (<%=moment(manga_item.last_update).fromNow()%>)
                    </span> 
                  </p>
                  <%}%>

                  <div class="hidden-sm hidden-xs" style="margin-top: 10px;">
                    <ul style="padding-left: 15px;">
                    <%['rank','status','language','authors','artists','categories','genres','tags','parodies','characters'].forEach(function(prop) {%>
                      <%if (manga_item[prop] && Array.isArray(manga_item[prop])) {%>
                        <li style="margin-bottom: 0;">
                          <small style="text-transform: capitalize;"><%=prop%>:</small>
                          <%if (manga_field_filter_map[prop]) {%>
                            <%manga_item[prop].forEach(function(item){%>
                          <a class="btn <%if(query[manga_field_filter_map[prop].param]==item){%>btn-primary<%}else{%>btn-default<%}%> btn-xs" href="/mangalist?<%=manga_field_filter_map[prop].param%>=<%=item%>" style="text-transform: capitalize;"><%=(manga_field_filter_map[prop].hyphen)?utils.replaceAll(item,'-',' '):item%></a> 
                            <%});%>
                          <%} else {%>
                            <%manga_item[prop].forEach(function(item){%>
                          <span class="text-capitalize"><%=item%>;</span>
                            <%});%>
                          <%}%>
                        </li>
                      <%}else if (manga_item[prop]){%>
                        <li style="margin-bottom: 0;">
                          <small style="text-transform: capitalize;"><%=prop%>:</small> 
                          <%if (manga_field_filter_map[prop]) {%>
                          <a class="btn <%if(query[manga_field_filter_map[prop].param]==manga_item[prop]){%>btn-primary<%}else{%>btn-default<%}%> btn-xs" href="/mangalist?<%=manga_field_filter_map[prop].param%>=<%=manga_item[prop]%>" style="text-transform: capitalize;"><%=(manga_field_filter_map[prop].hyphen)?utils.replaceAll(manga_item[prop],'-',' '):manga_item[prop]%></a>
                          <%} else {%>
                          <%=manga_item[prop]%>
                          <%}%>
                        </li>
                      <%}%>
                    <%});%>
                    </ul>
                  </div>
                </td>
              </tr>
            <%});%>
              </tbody>
            </table>
            <%} else if (query.listview == 'small') {%>
            <table id="manga-items" class="table table-hover table-responsive items" 
              style="font-size: 14px;max-width: 100%;">
              <thead class="hidden-sm hidden-xs">
                <tr>
                  <th style="width: 60px;"></th>
                  <th class="hidden-sm hidden-xs" style="max-width: 500px;">
                    <%if (!query.mangasort||query.mangasort=='name'){%>
                      <%if(query.mangaorder=='desc'){%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=asc">Name</a>
                    <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                      <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=desc">Name</a>
                    <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                      <%}%>
                    <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=name&mangaorder=desc">Name</a>
                    <%}%>
                  </th>
                  <td class="hidden-sm hidden-xs" style="color: grey;"></td>
                  <th class="hidden-sm hidden-xs">
                    <%if (query.mangasort=='chapters_count'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=chapters_count&mangaorder=desc">Chapters</a>
                    <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                      <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=chapters_count&mangaorder=asc">Chapters</a>
                    <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                      <%}%>
                    <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=chapters_count&mangaorder=desc">Chapters</a>
                    <%}%>
                  </th>
                  <th class="hidden-sm hidden-xs">
                    <%if (query.mangasort=='last_chapter_update'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update&mangaorder=desc">Last Chapter Update</a>
                    <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                      <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update&mangaorder=asc">Last Chapter Update</a>
                    <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                      <%}%>
                    <%}else if (query.mangasort=='last_update'){%>
                      <%if(query.mangaorder=='asc'){%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=last_update&mangaorder=desc">Last Update</a>
                    <i class="fa fa-angle-up fa-fw" style="color: grey;"></i>
                      <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=last_update&mangaorder=asc">Last Update</a>
                    <i class="fa fa-angle-down fa-fw" style="color: grey;"></i>
                      <%}%>
                    <%}else{%>
                    <a href="/mangalist?<%=base_comp%>&mangasort=last_chapter_update&mangaorder=desc">Last Chapter Update</a>
                    <%}%>
                  </th>
                </tr>
              </thead>
              <tbody>
              <%manga_items.forEach(function(manga_item){%>
                <tr class="item-manga" data-path="<%=encodeURIComponent(manga_item.relpath)%>">
                  <td style="width: 60px;">
                    <a href="/mangalist?manga=<%=encodeURIComponent(manga_item.relpath)%>" title="<%=manga_item.name%>">
                      <%if (manga_item['cover_image']){%>
                      <img class="img-responsive lazyload" src="/img/cover-placeholder.png" data-src="/image?src=<%=encodeURIComponent(manga_item['cover_image'])%>" alt="" width="60px" style="max-height: 200px;" onerror="this.onerror=null;this.src='/img/no-cover.png';">
                      <%}else{%>
                      <img src="/img/no-cover.png" width="60px" />
                      <%}%>
                    </a>
                  </td>
                  <td style="max-width: 500px;">
                    <%=manga_item.name%> 
                    <p class="item-file-extra"><a class="open-external-link" href="/mangalist?from_dir=<%=encodeURIComponent(path.dirname(manga_item.relpath))%>&listview=small"><%=path.basename(path.dirname(manga_item.relpath))%></a></p>
                    <p class="item-file-extra">
                      <%if (manga_item.chapters_count>1){%><span><%=manga_item.chapters_count%> chapters</span><%}else if (manga_item.chapters_count==1){%>
                      <span>1 chapter</span><%}%>
                    </p>
                    <p class="item-file-extra hidden-lg hidden-md"><%if (manga_item.last_update){%><span style="margin-right: 15px;"><%=moment(manga_item.last_update).format('MMM DD, YYYY hh:mm A')%></span><%}%></p>
                  </td>
                  <td class="hidden-sm hidden-xs" style="color: grey;"></td>
                  <td class="hidden-sm hidden-xs" style="color: grey;">
                    <%if (manga_item.chapters_count>0){%><span><%=manga_item.chapters_count%></span><%}%>
                  </td>
                  <td class="hidden-sm hidden-xs" style="color: grey;">
                    <%if (manga_item.last_chapter_update && query.mangasort!='last_update'){%><%=moment(manga_item.last_chapter_update).format('MMM DD, YYYY hh:mm A')%>
                    <%} else if (manga_item.last_update && query.mangasort=='last_update'){%><%=moment(manga_item.last_update).format('MMM DD, YYYY hh:mm A')%><%}%>
                  </td>
                </tr>
              <%});%>
              </tbody>
            </table>
            <%} else {%>
              <hr style="margin-top: 0;" />
              <%manga_items.forEach(function(manga_item){%>
              <div class="manga-grid-item">
                <div class="manga-cover-container" style="margin-bottom: 10px;">
                  <a href="/manga?path=<%=encodeURIComponent(manga_item.relpath)%>" title="<%=manga_item.name%>">
                    <%if (manga_item['cover_image']){%>
                    <img class="img-responsive lazyload" src="/img/cover-placeholder.png" data-src="/image?src=<%=encodeURIComponent(manga_item['cover_image'])%>" alt="" onerror="this.onerror=null;this.src='/img/no-cover.png';">
                    <%}else{%>
                    <img class="img-responsive" src="/img/no-cover.png" />
                    <%}%>
                  </a>
                </div>
                <div style="margin-bottom: 10px;">
                  <b><%=utils.trimText(manga_item.name,60)%></b> 
                  <p class="item-file-extra"><a class="open-external-link" href="/mangalist?from_dir=<%=encodeURIComponent(path.dirname(manga_item.relpath))%>&listview=cover"><%=path.basename(path.dirname(manga_item.relpath))%></a></p>
                  <p class="item-file-extra">
                    <%if (manga_item.chapters_count>1){%><span><%=manga_item.chapters_count%> chapters</span><%}else if (manga_item.chapters_count==1){%>
                    <span>1 chapter</span><%}%>
                  </p>
                  <%if (manga_item.last_chapter_update && query.mangasort != 'last_update'){%>
                  <p class="item-file-extra"><%=moment(manga_item.last_chapter_update).fromNow()%></p>
                  <%} else if (manga_item.last_update && query.mangasort == 'last_update'){%>
                  <p class="item-file-extra"><%=moment(manga_item.last_update).fromNow()%></p>
                  <%}%>
                </div>
              </div>
              <%});%>
            <%}%>
            </div>
            
            <div>
            <%if (items_count>next_skip){%>
            <p><a href="/mangalist?<%=base_comp%>&skip=<%=next_skip%>">and more <%=(items_count-next_skip)%> manga...</a></p>
            <%}%>

            <%if (page_count > 1) {%>
            <ul class="pagination" style="margin: 0 0 10px 0;">
              <%if (current_page > 1) {%>
                <li><a href="/mangalist?<%=base_comp%>&page=<%=current_page-1%>">&laquo;</a></li>
              <%} else {%>
                <li class="disabled"><a href="#">&laquo;</a></li>
              <%}%>
              <%var i = 1;
              if (current_page > 3) {
                i = current_page - 2;
              }%>
              <%if (i !== 1) {%>
                <li><a href="/mangalist?<%=base_comp%>&page=1">1</a></li>
              <%}%>
              <%if (i > 2) {%>
                <li class="disabled"><a href="#">...</a></li>
              <%}%>
              <%for (i; i < page_count; i++) {%>
                <%if (current_page == i) {%>
                  <li class="active"><span><%=i%> <span class="sr-only">(current)</span></span></li>
                <%} else {%>
                  <li><a href="/mangalist?<%=base_comp%>&page=<%=i%>"><%=i%></a></li>
                <%}%>
                <%if (i == page_count - 1) break;%>
                <%if (i == (current_page + 2)) {%>
                  <li class="disabled"><a href="#">...</a></li>
                  <%break;%>
                <%}%>
              <%}%>
              <%if (current_page != page_count) {%>
                <li><a href="/mangalist?<%=base_comp%>&page=<%=page_count%>"><%=page_count%></a></li>
                <li><a href="/mangalist?<%=base_comp%>&page=<%=current_page+1%>">&raquo;</a></li>
              <%} else {%>
                <li class="active"><a href="/mangalist?<%=base_comp%>&page=<%=page_count%>"><%=page_count%></a></li>
                <li class="disabled"><a href="#">&raquo;</a></li>
              <%}%>
            </ul>
            <%}%>
            </div>

            </div>
          </div><!-- panel-body -->
        </div><!-- list-items-panel -->
        </div><!-- col-md-12 -->

        </div><!-- row -->
        