<html>
  <head>
    <title>Manga Browser</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/manga-browser.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lazysizes.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/manga-browser.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Manga Browser</a>
          <button aria-expanded="false" class="navbar-toggle collapsed" 
            type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a data-toggle="tab" href="/mangalist"><i class="fa fa-book fa-fw"></i> Manga <span class="badge"><%=manga_count%></span></a></li>
            <li><a href="/files?dir=." title="Browse all files"><i class="fa fa-folder fa-fw"></i> Files <span class="badge"><%=files_count%></span></a></li>
            
            <li class="hidden-md hidden-lg"><a href="/?view=reading" title="Show reading list"><i class="fa fa-eye fa-fw"></i> Reading</a></li>
            <li class="hidden-md hidden-lg"><a href="/?view=search" title="Search manga"><i class="fa fa-search fa-fw"></i> Search</a></li>

            <li class="dropdown hidden-md hidden-lg">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-filter fa-fw"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="/?view=alphabet" title="Filter manga A-Z"><i class="fa fa-sort-alpha-asc fa-fw"></i> A-Z</a>
                </li>
                <li class="nav-divider"></li>
                <%manga_filters.forEach(function(manga_filter) {%>
                  <%if (manga_indices[manga_filter.index] && manga_indices[manga_filter.index].popular.length) {%>
                <li class="<%=(query.view==manga_filter.index)?'active':''%>">
                  <a href="/mangalist?view=<%=manga_filter.index%>" style="padding-top: 10px;padding-bottom: 10px;"><span class="badge badge-pill badge-default pull-right"><%=manga_indices[manga_filter.index].count||0%></span> <%-manga_filter.icon||'<i class="fa fa-tags fa-fw"></i>'%> <%=manga_filter.title%></a>
                </li>
                  <%}%>
                <%});%>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a id="index-reload" href="/reload_index" title="Reload index"><i class="fa fa-refresh fa-fw"></i> <span class="hidden-sm">Reload</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container" style="margin-top: 75px;">
        <div id="browser-content" class="row">
          <div id="sidebar" class="col-md-2 hidden-sm hidden-xs" style="padding-right: 0;padding-left: 0;">
            <ul id="sidebar-list" class="nav nav-pills nav-stacked" data-spy="affix">
              <li class="">
                <a href="/mangalist"><i class="fa fa-book fa-fw"></i> Manga List</a>
              </li>
              <li class="<%=(query.view=='reading')?'active':''%>">
                <a href="/mangalist?view=reading"><i class="fa fa-eye fa-fw"></i> Reading</a>
              </li>
              <li class="nav-divider"></li>
              <li class="<%=(query.view=='search')?'active':''%>">
                <a href="/mangalist?view=search"><i class="fa fa-search fa-fw"></i> Search</a>
              </li>
              <li class="<%=(query.view=='alphabet')?'active':''%>">
                <a href="/mangalist?view=alphabet"><i class="fa fa-sort-alpha-asc fa-fw"></i> A-Z</a>
              </li>
              <li class="nav-divider"></li>
              <!-- <li class="nav-head">Filters</li> -->
              <%manga_filters.forEach(function(manga_filter) {%>
                <%if (manga_indices[manga_filter.index] && manga_indices[manga_filter.index].popular.length) {%>
              <li class="<%=(query.view==manga_filter.index)?'active':''%>">
                <a href="/mangalist?view=<%=manga_filter.index%>"><span class="badge badge-pill badge-default pull-right hidden"><%=manga_indices[manga_filter.index].count||0%></span> <%-manga_filter.icon||'<i class="fa fa-tags fa-fw"></i>'%> <%=manga_filter.title%></a>
              </li>
                <%}%>
              <%});%>
            </ul>
          </div>

          <div id="main-content" class="col-md-10 col-sm-12 col-xs-12">
          <%if (scope == 'manga_list') {%>
          <!-- manga_list - START -->
          <%- include('partials/manga-list'); %>
          <!-- manga_list - END -->
          <%}%>

          <%if (scope == 'manga_info') {%>
          <!-- manga_info - START -->
          <%- include('partials/manga-info'); %>
          <!-- manga_info - END -->
          <%}%>
          </div><!-- main-content -->
        </div><!-- browser-content -->
      </div><!-- container -->
    </div><!-- content -->

    <!-- Modal -->
    <div id="previewModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header hidden">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>

          <div class="modal-body" id="file-preview-body">
            <p id="file-preview-header">
              <span id="file-preview-file-info-container"><i class="fa fa-info-circle fa-fw"></i> <span id="file-preview-file-info"></span></span>

              <span id="file-preview-header-nav">
                <a href="#" id="file-preview-prev" class="file-preview-button"><i class="fa fa-chevron-left fa-fw"></i></a>
                <span id="file-preview-subtitle"></span>
                <a href="#" id="file-preview-next" class="file-preview-button"><i class="fa fa-chevron-right fa-fw"></i></a>
              </span>
              
              <span id="file-preview-close" class="hidden"><a href="#" class="file-preview-button"><i class="fa fa-times fa-fw"></i></a></span>
            </p>
            
            <div id="file-preview-actions">
              <a id="file-preview-close-button" href="#" 
                class="file-preview-button file-preview-big-button"
                title="Close preview"><i class="fa fa-times fa-lg fa-fw"></i></a> 

              <a id="file-preview-image-resize-button" href="#" 
                class="file-preview-button file-preview-big-button"
                title="Toggle image size (s)"><i class="fa fa-arrows fa-lg fa-fw"></i></a> 
                
              <a id="file-preview-open-external-button" href="#" target="_blank" 
                class="file-preview-button file-preview-big-button hidden"
                title="Open original chapter link"><i class="fa fa-external-link fa-lg fa-fw"></i></a> 

              <a id="file-preview-open-manga-viewer" href="#" 
                class="file-preview-button file-preview-big-button hidden"
                title="Open chapter in manga viewer"><i class="fa fa-eye fa-lg fa-fw"></i></a> 
            </div>
            
            <div id="file-preview-title-container">
              <span id="file-preview-title"></span>
            </div>

            <div id="file-preview-content">
            </div>
          
            <div id="file-preview-load-more-button-container">
              <a id="file-preview-load-more-button" class="hidden file-preview-button" 
                href="#" title="Load more pages"><i class="fa fa-angle-down fa-2x fa-fw"></i></a>
            </div>

            <div id="file-preview-left"></div>
            <div id="file-preview-right"></div>

            <div id="zoom-control" class="hidden">
              <div id="zoom-control-inner">
                <span id="zoom-value" data-value="100" class="hidden"></span>
                <a href="#" id="zoom-in"><i class="fa fa-search-plus fa-2x fa-fw"></i></a>
                <a href="#" id="zoom-out"><i class="fa fa-search-minus fa-2x fa-fw"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <!-- Modal -->
    <div id="deleteConfirmModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div>

          <div class="modal-body">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="#" id="delete-confirmed-button" class="btn btn-danger">Delete</a>
          </div>
        </div>

      </div>
    </div>

    <div id="notification-pane" class="hidden text-white bg-success">
      <span id="notification-title"></span>
      <div id="notification-message"></div>
    </div>

  </body>
</html>